{% extends 'base.html.twig' %}

{% block title %}New TaskSession{% endblock %}

{% block body %}
    <h1>Create new TaskSession</h1>

    {{ include('task_session/_form.html.twig') }}

{% endblock %}
